* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Open Sans", sans-serif;
}

.open {
  display: flex !important;
}

header {
  padding-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header .nav {
  display: flex;
  gap: 56px;
}
header .nav .nav-link {
  color: #111112;
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
}
header .nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 56px;
}
header .signup {
  display: flex;
  gap: 33px;
}
header .signup button {
  width: 96px;
  height: 43px;
  background: #111112;
  border-radius: 18px;
  color: #FDFBFA;
  font-size: 14px;
  line-height: 19px;
  border: none;
  cursor: pointer;
}

.burger {
  display: flex;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
}
.burger span {
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: rgb(65, 64, 64);
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: rgb(65, 64, 64);
  transition: all 0.3s ease 0s;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger.active span {
  transform: scale(0);
}

.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
  top: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

.hero {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.hero .midsection h1 {
  font-size: 72px;
  line-height: 74px;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}
.content .text h2 {
  font-size: 38px;
  line-height: 62px;
  color: #111112;
}
.content .text #because {
  margin-top: 40px;
  font-size: 16px;
  line-height: 22px;
  color: #ADAEAF;
}
.content .text div {
  display: flex;
  align-items: center;
  margin-top: 28px;
  gap: 50px;
}
.content .text div p {
  font-size: 16px;
  line-height: 22px;
  color: #111112;
}
.content .content-1 .textbox {
  width: 334px;
  height: 126px;
  background: #F5F5F5;
  border-radius: 24px;
  padding: 16px;
}
.content .content-1 .textbox p {
  font-size: 14px;
  line-height: 19px;
  color: #ADAEAF;
}
.content .content-2 .textbox-3 {
  width: 334px;
  height: 126px;
  background: #F5F5F5;
  border-radius: 24px;
  padding: 16px;
}
.content .content-2 .textbox-3 P {
  font-size: 14px;
  line-height: 19px;
  color: #ADAEAF;
}
.content .content-2 .textbox-4 {
  width: 334px;
  height: 126px;
  background: #F5F5F5;
  border-radius: 24px;
  padding: 16px;
}
.content .content-2 .textbox-4 p {
  font-size: 14px;
  line-height: 19px;
  color: #ADAEAF;
}

.thirdsection {
  padding-top: 230px;
  max-width: 1450px;
  margin-left: auto;
  margin-right: auto;
}
.thirdsection h2 {
  font-size: 38px;
  line-height: 62px;
  color: #111112;
}
.thirdsection .diets {
  display: flex;
  gap: 20px;
  margin-top: 65px;
}
.thirdsection .diets .slim p {
  font-size: 16px;
  line-height: 22px;
  color: #111112;
}
.thirdsection .diets .slim .calorie {
  display: flex;
  justify-content: space-between;
  width: 242px;
  margin-top: 14px;
}
.thirdsection .diets .slim .calorie p {
  background: #F5F5F5;
  border-radius: 8px;
}
.thirdsection .diets .slim .text {
  margin-top: 20px;
}
.thirdsection .diets .slim .text p {
  color: #ADAEAF;
}
.thirdsection .diets .slim .cost {
  display: flex;
  align-items: baseline;
  margin-top: 20px;
}
.thirdsection .diets .slim .cost p {
  color: #ADAEAF;
}
.thirdsection .diets .slim .cost button {
  width: 98px;
  height: 39px;
  background: #1AC84B;
  border-radius: 10px;
  border: none;
  margin-left: 68px;
  color: white;
}
.thirdsection .diets .fit p {
  font-size: 16px;
  line-height: 22px;
  color: #111112;
}
.thirdsection .diets .fit .calorie {
  display: flex;
  justify-content: space-between;
  width: 242px;
  margin-top: 14px;
}
.thirdsection .diets .fit .calorie p {
  background: #F5F5F5;
  border-radius: 8px;
}
.thirdsection .diets .fit .text {
  margin-top: 20px;
}
.thirdsection .diets .fit .text p {
  color: #ADAEAF;
}
.thirdsection .diets .fit .cost {
  display: flex;
  align-items: baseline;
  margin-top: 42px;
}
.thirdsection .diets .fit .cost p {
  color: #ADAEAF;
}
.thirdsection .diets .fit .cost button {
  width: 98px;
  height: 39px;
  background: #1AC84B;
  border-radius: 10px;
  border: none;
  margin-left: 68px;
  color: white;
}
.thirdsection .diets .vegan p {
  font-size: 16px;
  line-height: 22px;
  color: #111112;
}
.thirdsection .diets .vegan .calorie {
  display: flex;
  justify-content: space-between;
  width: 242px;
  margin-top: 14px;
}
.thirdsection .diets .vegan .calorie p {
  background: #F5F5F5;
  border-radius: 8px;
}
.thirdsection .diets .vegan .text {
  margin-top: 20px;
}
.thirdsection .diets .vegan .text p {
  color: #ADAEAF;
}
.thirdsection .diets .vegan .cost {
  display: flex;
  align-items: baseline;
  margin-top: 42px;
}
.thirdsection .diets .vegan .cost p {
  color: #ADAEAF;
}
.thirdsection .diets .vegan .cost button {
  width: 98px;
  height: 39px;
  background: #1AC84B;
  border-radius: 10px;
  border: none;
  margin-left: 68px;
  color: white;
}
.thirdsection .diets .keto p {
  font-size: 16px;
  line-height: 22px;
  color: #111112;
}
.thirdsection .diets .keto .calorie {
  display: flex;
  justify-content: space-between;
  width: 242px;
  margin-top: 14px;
}
.thirdsection .diets .keto .calorie p {
  background: #F5F5F5;
  border-radius: 8px;
}
.thirdsection .diets .keto .text {
  margin-top: 20px;
}
.thirdsection .diets .keto .text p {
  color: #ADAEAF;
}
.thirdsection .diets .keto .cost {
  display: flex;
  align-items: baseline;
  margin-top: 20px;
}
.thirdsection .diets .keto .cost p {
  color: #ADAEAF;
}
.thirdsection .diets .keto .cost button {
  width: 98px;
  height: 39px;
  background: #1AC84B;
  border-radius: 10px;
  border: none;
  margin-left: 68px;
  color: white;
}

.commonsection {
  display: flex;
  margin-top: 222px;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}
.commonsection .deliversection h2 {
  color: #111112;
  font-size: 38px;
  line-height: 62px;
}
.commonsection .deliversection p {
  color: #111112;
  font-size: 16px;
  line-height: 22px;
}
.commonsection .deliversection .coordinate {
  display: flex;
  width: 588px;
  justify-content: space-between;
  margin-top: 94px;
}
.commonsection .deliversection .coordinate #city {
  width: 345px;
  height: 58px;
  border: 1px solid #ADAEAF;
  border-radius: 22px;
  background: #FDFBFA;
  padding: 18px;
  font-size: 16px;
  line-height: 22px;
}
.commonsection .deliversection .coordinate #nip {
  width: 223px;
  height: 58px;
  border: 1px solid #ADAEAF;
  border-radius: 22px;
  background: #FDFBFA;
  padding: 18px;
}
.commonsection .deliversection .locate {
  display: flex;
  margin-top: 38px;
  width: 265px;
  justify-content: space-between;
  align-items: center;
}
.commonsection .deliversection .locate button {
  width: 135px;
  height: 43px;
  background: #FFB21A;
  border-radius: 18px;
  color: white;
  border: none;
}
.commonsection .deliversection .locate #aim {
  margin-left: 22px;
}
.commonsection .word {
  display: flex;
  margin-top: 32px;
}
.commonsection .name {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.commonsection .name .title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 222px;
  height: 58px;
  background: #F5F5F5;
  border-radius: 18px;
}

.ordersection {
  max-width: 1440px;
  height: 381px;
  background: #e8edf2;
  border-radius: 100px;
  margin-top: 260px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.ordersection #rightyellow {
  position: relative;
  bottom: 1025px;
}
.ordersection #avacado {
  position: relative;
  bottom: 509px;
  right: 38px;
}
.ordersection #kiwi {
  position: relative;
  left: 1035px;
  bottom: 1450px;
}
.ordersection h2 {
  position: absolute;
  bottom: 220px;
  left: 566px;
  font-size: 38px;
  line-height: 62px;
}
.ordersection p {
  font-size: 16px;
  line-height: 22px;
  position: absolute;
  bottom: 180px;
  left: 590px;
}
.ordersection button {
  color: white;
  width: 138px;
  height: 43px;
  background: #111112;
  border: none;
  border-radius: 18px;
  position: absolute;
  bottom: 90px;
  right: 44%;
}

.choosesection {
  display: flex;
  margin-top: 226px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.choosesection h2 {
  font-size: 38px;
  line-height: 62px;
}
.choosesection h2 img {
  margin-left: 10px;
}
.choosesection #bag {
  margin-bottom: 200px;
}
.choosesection .bigsection {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-height: 600px;
}
.choosesection .bigsection .number {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 640px;
  gap: 20px;
}
.choosesection .bigsection .number p {
  color: #ADAEAF;
}

.boxdietsection {
  margin-top: 190px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.boxdietsection h2 {
  font-size: 38px;
  line-height: 62px;
}
.boxdietsection .boxdiets {
  margin-top: 65px;
  display: flex;
  align-items: center;
}
.boxdietsection .boxdiets .fresh {
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.boxdietsection .boxdiets .fresh p {
  color: #ADAEAF;
}
.boxdietsection .boxdiets .fresh .plant {
  width: 134px;
  height: 128px;
  background: #F5F5F5;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxdietsection .boxdiets .taste {
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.boxdietsection .boxdiets .taste p {
  color: #ADAEAF;
}
.boxdietsection .boxdiets .taste .tasteicon {
  width: 134px;
  height: 128px;
  background: #F5F5F5;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxdietsection .boxdiets .diversity {
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.boxdietsection .boxdiets .diversity p {
  color: #ADAEAF;
}
.boxdietsection .boxdiets .diversity .diversityicon {
  width: 134px;
  height: 128px;
  background: #F5F5F5;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxdietsection .boxdiets .match {
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.boxdietsection .boxdiets .match p {
  color: #ADAEAF;
}
.boxdietsection .boxdiets .match .gymicon {
  width: 134px;
  height: 128px;
  background: #F5F5F5;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blogsection {
  margin-top: 200px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.blogsection h2 {
  font-size: 38px;
  line-height: 62px;
}
.blogsection .product {
  display: flex;
  gap: 18px;
}
.blogsection .product .blog {
  margin-top: 30px;
}
.blogsection .product .blog p {
  color: #ADAEAF;
  margin-top: 30px;
}
.blogsection .product .rightside {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 25px;
}
.blogsection .product .rightside .watch2 {
  display: flex;
  flex-direction: column;
  gap: 85px;
}
.blogsection .product .rightside .watch2 .time {
  display: flex;
  gap: 228px;
}
.blogsection .product .rightside .watch2 .time p {
  color: #ADAEAF;
}
.blogsection .product .rightside .watch2 .time div {
  display: flex;
  gap: 10px;
}
.blogsection .video {
  display: flex;
  gap: 20px;
}
.blogsection .video .watch {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.blogsection .video .watch p {
  color: #ADAEAF;
}
.blogsection .video .watch .time {
  display: flex;
  justify-content: space-between;
}
.blogsection .video .watch .time div {
  display: flex;
  gap: 10px;
}

.questions {
  margin-top: 250px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.questions .question {
  display: flex;
  justify-content: space-between;
  width: 1440px;
  margin-top: 38px;
  margin-bottom: 25px;
}
.questions .question h3 {
  font-size: 28px;
  line-height: 38px;
}

.footer {
  height: 313px;
  background: #F5F5F5;
  margin-top: 250px;
  margin-left: auto;
  margin-right: auto;
}
.footer footer {
  height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}
.footer footer .contact {
  display: flex;
  gap: 14px;
}
.footer footer .contact p {
  color: #ADAEAF;
}
.footer footer nav {
  display: flex;
  gap: 56px;
}
.footer footer .nav-link {
  color: #111112;
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
}
.footer .socialmedia {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.footer .privacy {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  gap: 31px;
}
.footer .privacy p {
  color: #ADAEAF;
}

@media screen and (max-width: 900px) {
  .content {
    align-items: center;
    flex-direction: column;
    gap: 40px;
  }
  .thirdsection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .thirdsection .diets {
    flex-direction: column;
  }
  .commonsection {
    flex-direction: column;
  }
  .commonsection .coordinate {
    flex-direction: column;
    gap: 20px;
  }
  .commonsection .word {
    flex-wrap: wrap;
  }
  .commonsection .word .name {
    margin-left: 10px;
  }
  .commonsection .word .name .title {
    width: 100px;
  }
  .ordersection {
    display: none;
  }
  .choosesection {
    flex-direction: column;
  }
  .choosesection .bigsection {
    gap: 20px;
  }
  .choosesection .bigsection .number {
    flex-wrap: wrap;
  }
  .choosesection .bigsection .number #aifon {
    margin-right: 370px;
  }
  .choosesection .bigsection .number #chef-hat {
    margin-right: 362px;
  }
  .choosesection .bigsection .number #deliver {
    margin-right: 362px;
  }
  .boxdiets {
    flex-wrap: wrap;
    gap: 20px;
  }
  .boxdiets #line {
    display: none;
  }
  .blogsection .blog {
    display: none;
  }
  .blogsection .rightside .video {
    flex-direction: column;
    gap: 10px;
  }
  .blogsection .rightside .watch {
    gap: 10px;
  }
  .questions {
    margin-top: 100px;
  }
  .questions .question {
    margin-top: 0;
  }
  .questions .question h3 {
    font-size: 17px;
  }
  .questions #long-line {
    display: none;
  }
  .questions #arrow {
    display: none;
  }
  .footer {
    display: none;
  }
}/*# sourceMappingURL=landing.css.map */